/vendor
/node_modules
/frontend/dist
/frontend/dist-ssr
.env
.env.backup
.env.production
.phpunit.result.cache
Homestead.json
Homestead.yaml
auth.json
npm-debug.log
yarn-error.log
/.idea
/.vscode
/storage/*.key
/public/hot
/public/storage
/storage/framework/cache/data/*
!/storage/framework/cache/data/.gitkeep
/storage/framework/sessions/*
!/storage/framework/sessions/.gitkeep
/storage/framework/views/*
!/storage/framework/views/.gitkeep
/storage/logs/*
!/storage/logs/.gitkeep
.DS_Store
**/.DS_Store
._*
**/.Trashes
/bootstrap/cache/packages.php
/bootstrap/cache/services.php.DS_Store
.ipynb_checkpoints/
